<div class="main">
  <div class="header ">
    <h1 class="main-title">葉子の日記</h1>
  </div>

  <div class="content-main">
    <%= form_with model: @post, url: posts_path,id: "form", local: true do |f| %>
      <%= f.text_area :text, class: "post-text" ,id:"text"%>
      <%= f.submit "投稿する", class:"btn", id:"submit"%>
    <% end %>
    <div class="contents">

    <div id="list">
    </div>

      <% @posts.each do |post| %>
        <div class="content">
          <%= simple_format(post.text) %>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
      <% end %>
    </div>
  </div>

</div>
